# templates/apache.conf.j2
<VirtualHost *:80>
    DocumentRoot "{{ apache_root }}"
    <Directory "{{ apache_root }}">
        AllowOverride None
        Require all granted
    </Directory>
    ErrorLog /var/log/apache2/error.log
    CustomLog /var/log/apache2/access.log combined
</VirtualHost>
